*{
	margin: 0;
	padding: 0;
}

:root{
	--amarelo: rgba(255,255,0,0.5);
	--amarelo2: #ffe642;
	--cinza: rgba(192,192,192,0.2);
	--roxo: #8b008b;
	--roxo2: rgba(139, 0, 139, 0.5);
}

body{
	font-family: 'Rajdhani', sans-serif !important;
}

.navbar-collapse{
	flex-grow: 0 !important;
}

.logo{
	height: 35px;
}

.linha{
	background: var(--roxo);
	height: 4px;
	width: 30px;
	margin: 4px;
	border-radius: 10px;
}

.home{
	height: 100vh;
	background-image: url(../img/inicio.jpg);
	background-position: center;
	background-size: cover;	
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.conteudohome{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home h1{
	color: white;
	text-shadow: 3px 3px 10px #000;
	text-transform: uppercase;
	margin-top: 1rem;
	font-size: 2.2rem !important;
}

.home p{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 5px #000;
	font-size: 1.1rem;
}

hr{
	margin-bottom: 0.3rem !important;
	margin-top: 0.3rem !important;
}

.italico{
	font-style: italic;
}

.logoinicio{
	height: 120px;
}

.botoes{
	display: flex;
}

.btnhome{
	border-style: none;
	background-color: var(--roxo);
	height: 35px;
	width: 90px;
	border-radius: 10px;
	margin: 10px;
	color: white;
	box-shadow: 3px 3px 20px #696969;
}

.lista a, .lista li{
	list-style: none;
	color: white !important;
	text-decoration: none!important;
}

.relativa{
	position: relative;
}

.lista{
	position: absolute;
	left: 15px;
	display: none;
	box-shadow: 3px 3px 20px #696969;
	background-color: var(--roxo2);
	padding: 0.5rem;
	border-radius: 10px;
}

.titulo{
	display: flex;
	flex-direction: column;
	margin: 2rem;
	align-items: center;	
	/*border: solid red;*/
}

.titulo h2, .titulo form{
	margin-top: 56px;
}


.titulo input{
	border: 1px solid var(--amarelo2);
}

h2{
	padding-right: 2rem; 
}

.btn{
	padding: 0 !important;
}

.btnsearch{
	margin: 3px 10px;
	height: 30px;
}

.buscar{
	height: 100vh;
	/*border: solid black;*/
}

.cad{
	/*border: solid purple;*/
	height: 300vh;
}

.cad_servicos{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.pessoal{
	height: 50vh;
	display: flex;
	flex-direction: column;
	margin: 2rem;
}

.servico{
	height: 65vh;
	display: flex;
	flex-direction: column;
	margin: 2rem;
}

.btnadd{
	height: 30px;
}

.add{
	display: flex;
	justify-content: space-between;
}

.desc{
	width: 300px; 
	height: 200px; 
	resize: none;
}

.aprender{
	height: 100vh;
	/*border: solid green;*/
}

.slide-main{
	display: flex;
}

input{
	width: 300px;
}

.rel{
	/*border: solid red;*/
}

.relatos{

	display: flex;
}

.relatoform{
	background-color: var(--amarelo);
	border-radius: 5px;
	padding: 1.5rem;
	margin-bottom: 1rem;
}

.bg{
	background-color: var(--cinza) !important;
	border-style: none !important;
}

.arejamento{
	margin-top: 10px;
}

.btnrelatoform{
	padding: 5px !important;
	background-color: var(--roxo) !important;
	color: #fcfcfc !important;
}

.card{
	margin-bottom: 1rem;
}

@media screen and (min-width: 725px){
	h2{
		padding-right: 40rem; 
	}

	.titulo{
		flex-direction: row;
		justify-content: space-between;
	}
		
	.cad{
		height: 100vh;
	}

	.cad_servicos{
		flex-direction: row;
	}
}

