*{
	margin: 0;
	padding: 0;
}

:root{
	/*--amarelo: rgba(255,255,0,0.5);*/
	--amarelo: #fffa48;
	--amarelo2: #ffe642;
	--cinza: rgba(192,192,192,0.2);
	--roxo: rgba(104, 35, 102, 1); 
	--roxo2: rgba(104, 35, 102, .9);
	--lilas: rgba(120, 59, 135, 1);
}

body{
	font-family: 'Rajdhani', sans-serif !important;
}

.navbar-collapse{
	flex-grow: 0 !important;
}

.navbar-light, .navbar-nav, .nav-link {
    color: rgba(0,0,0,.8) !important;
    /*font-size: 1.2rem !important;*/
}

.logo{
	height: 35px;
}

.linha{
	background: var(--roxo);
	height: 4px;
	width: 30px;
	margin: 4px;
	border-radius: 10px;
}

.home{
	height: 100vh;
	background-image: url(../img/inicio.jpg);
	background-position: center;
	background-size: cover;	
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.conteudohome{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home h1{
	color: white;
	text-shadow: 3px 3px 10px #000;
	text-transform: uppercase;
	margin-top: 1rem;
	font-size: 2.2rem !important;
}

.home p{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 5px #000;
	font-size: 1.1rem;
}

hr{
	margin-bottom: 0.3rem !important;
	margin-top: 0.3rem !important;
}

.italico{
	font-style: italic;
}

.logoinicio{
	height: 120px;
}

.botoes{
	display: flex;
}

.btnhome{
	border-style: none;
	background-color: var(--roxo);
	height: 35px;
	width: 90px;
	border-radius: 10px;
	margin: 10px;
	color: white;
	box-shadow: 3px 3px 20px #696969;
}

.lista a, .lista li{
	list-style: none;
	color: white !important;
	text-decoration: none!important;
}

.relativa{
	position: relative;
}

.lista{
	position: absolute;
	left: 15px;
	display: none;
	box-shadow: 3px 3px 20px #696969;
	background-color: var(--roxo);
	padding: 0.5rem;
	border-radius: 10px;
}

.titulo{
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	align-items: center;	
	/*border: solid red;*/

}

.titulo h2, .titulo form{
	margin-top: 56px;
}


.titulo input{
	border: 1px solid var(--amarelo2);
}

h2{
	padding-right: 2rem; 
}

.btn{
	padding: 0 !important;
}

.btnsearch{
	margin: 3px 10px;
	height: 30px;
}

.buscar{
	height: 100vh;
	/*border: solid black;*/
}

.cad{
	/*border: solid purple;*/
	height: 100%;
	background-color: var(--roxo2);
}

.cadtitulo{
	color: white;
}

.cad_servicos{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.rel{
	background-color: var(--lilas);
}

.cad_servicos input, .cad_servicos textarea{
/*	border-style: none;
	background-color: #241322;*/
	outline-style: none;
}

.pessoal{
	background-color: #e6e6e6;
	padding: 1.5rem;
	border-radius: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 2rem 2rem 2rem;
	box-shadow: 3px 3px 20px #2b2b2b;
}

.servico{
	background-color: #e6e6e6;
	padding: 1.5rem;
	border-radius: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 2rem 2rem 2rem;
	box-shadow: 3px 3px 20px #2b2b2b;
}

.btnadd{
	height: 30px;
}

.btncad{
	padding: 5px !important;
	background-color: var(--roxo) !important;
	color: #fcfcfc !important;
}

.add{
	display: flex;
	justify-content: space-between;
}

.desc{
	min-width: 300px; 
	min-height: 100px; 
	resize: none;
}

.aprender{
	height: 100vh;
	/*border: solid green;*/
}

.slide-main{
	display: flex;
}

input{
	width: 300px;
}

footer{
	background-color: rgba(52, 16, 56, 1);
	height: 3rem;
	display: flex;
}

.conteudofooter{
	display: flex;
	height: 3rem;
	align-items: center;
	justify-content: center;
}

footer a{
	color: #e1c6ec;
	display: flex;
	text-align: center;
}

@media screen and (min-width: 725px){
	h2{
		padding-right: 40rem; 
	}

	.titulo{
		flex-direction: row;
		justify-content: space-between;
	}
		
	/*.cad{
		height: 100vh;
	}*/

	.cad_servicos{
		flex-direction: row;
	}
}

