*{
	margin: 0;
	padding: 0;
}

:root{
	/*--amarelo: rgba(255,255,0,0.5);*/
	--amarelo: #fffa48;
	--amarelo2: #ffe642;
	--cinza: rgba(192,192,192,0.2);
	--roxo: rgba(104, 35, 102, 1); 
	--roxo2: rgba(104, 35, 102, .9);
	--lilas: rgba(120, 59, 135, 1);
	--lilas2: rgba(149, 85, 163, 1);
}

body{
	font-family: 'Rajdhani', sans-serif !important;
}

.navbar-collapse{
	flex-grow: 0 !important;
}

.navbar-light, .navbar-nav, .nav-link {
    color: rgba(0,0,0,.8) !important;
    /*font-size: 1.2rem !important;*/
}

.logo{
	height: 35px;
}

.linha{
	background: var(--roxo);
	height: 4px;
	width: 30px;
	margin: 4px;
	border-radius: 10px;
}

main{
	height: 100vh;
}

footer{
	display: flex;
}

.primeiro-footer{
	height: 100%;
	background-color: #2e183b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.logofooter{
	width: 40%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logofooter a{
	font-size: 1.3rem;
	text-transform: uppercase;
	margin-top: 1rem;
	color: white;
}

.logofooter a:hover{
	color: #fff;

}

.info{
	width: 60%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.infozinha{
	margin-right: 30px;
}

.infozinha h3{
	text-align: center;
}

.infozinha p{
	text-align: justify;
}

.redessociais img{
	margin-right: 10px;
	height: 30px;
}

.segundo-footer{
	background-color: #341038;
	display: flex;
	height: 3rem;
	align-items: center;
	justify-content: center;
}

.segundo-footer p{
	color: #e1c6ec;
	display: flex;
	text-align: center;
	margin-bottom: 0 !important;
}

@media screen and (min-width: 725px){
	.primeiro-footer{
		flex-direction: row;
	}

	.info{
		flex-direction: row;
	}

	.infozinha h3{
		text-align: left;
	}
}